<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connString"
        connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Valentina\source\repos\Evidencija troškova\Evidencija troškova\Popis_troskova.accdb"
        providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="pythonSkriptaPutanja" value="C:/Users/Valentina/source/repos/ProracuniZaEvidencijuTroskova.py" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>